form {
    display: flex;
}

.search {
    width: 95%;
}

.log {
    width: 30%;
}

.log :not(button, span){
    padding: 0 !important;
}

@media (max-width: 380px) {
    .login {
        display: none;
    }
}

.search-container {
    transition: width 400ms;
    width: 5%;
    min-width: 40px;
    max-width: 308px;
}

.search-button {
    cursor: pointer;
    width: 40px;
}

.button{
    width: 40px;
}
.avatar-button{
    height: 40px;
}

.search-input {
    flex: 1;
    display: none;
    border-radius: 0;
}

.search-container.expanded {
    width: 65%;
}

.search-input.expanded {
    display: inline-block;
}

.search-container.expanded .search-button {
    min-width: 0;
    padding-right: 1%;
}

.description{
    min-height: 6rem;
    max-height: 12rem;
}