.video-title {
}

.avatar {
    width: 2.7rem;
    height: 2.7rem;
    object-fit: cover;
    border-radius: 50%;

}

.creator {
    min-height: 100%;
}

.subscribe-button {
    color: black;
    text-align: center;
    box-shadow: 0 0 2px #0005;
    width: 91px;
}

.dislike,
.like,
.send {
    color: black;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
}

.like,
.dislike {
    box-shadow: 0 0 2px #0005;
    padding-left: 1.5px;
    flex: 1;
}

.like{
    padding-bottom: 4.5px;
}

.dislike{
    padding-bottom: 2.5px;
}

.send {
    position: relative;
}

.reactions {
    width: 7rem;
}

.send>svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
}

.comment {
    display: flex;
    justify-content: space-between;
}

.comment-head {
    display: flex;
    align-items: center;
    width: 100%;
}

.comment input {
    transition: 50ms;
    width: 90%;
    outline: none;
}

.comment .focused {
    border-bottom-color: black;
}

.comment .focused::placeholder {
    color: black;
}